[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendored/SDL_ttf"]
	path = vendored/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "vendored/chibi-scheme"]
	path = vendored/chibi-scheme
	url = https://github.com/ashinn/chibi-scheme.git
[submodule "vendored/SDL_image"]
	path = vendored/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "vendored/tree-sitter"]
	path = vendored/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "vendored/tree-sitter-scheme"]
	path = vendored/tree-sitter-scheme
	url = https://github.com/6cdh/tree-sitter-scheme
[submodule "vendored/tree-sitter-json"]
	path = vendored/tree-sitter-json
	url = https://github.com/tree-sitter/tree-sitter-json
[submodule "vendored/pcre2"]
	path = vendored/pcre2
	url = https://github.com/PCRE2Project/pcre2
